{% extends 'base_publicacion.html' %}

{% load static %}

    {% block navbar %}
       
    {% endblock navbar %}


   

    {% block modal %}  
    
    {% endblock modal %}
    

    {% block content %} 
        {% include 'components/modal_publicacion.html' %}
        {% include 'components/content.html' %}
        

    {% endblock content %}


    {% block right_sidebar %}

    {% endblock right_sidebar %}


    {% block footer %} 

    {% endblock footer %}


    {% block javascript %} 

    {% endblock javascript %}
